<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data recorded!</title>
    <style>
        div {
    height: 200px;
    width: 400px;
    background: white;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
    </style>
</head>
<body>
    <div>
        <H1 align="left"><b>Location has been successfully recorded</b></H1>
        <form action="/rescueops" method="get" id="user"></form>

        <button type="submit" form="user" value="SignIn">Return to previous page</button>
    </div>
</body>
</html>